.header
{
    display: flex;
    justify-content: space-between;
}

.logo
{
    width: 9rem;
    height: 3rem;
}

.header-menu
{
    list-style-type: none;
    display: flex;
    gap:2rem;
}

.header-menu>li:hover 
{
    cursor: pointer;
    color:var(--orange);
}