.Join
{
    display: flex;
    gap: 10rem;
    padding:0 2rem;
    color: white;
}

.left-j
{
    display: flex;
    flex-flow: column wrap;
    font-size: 3rem;
    font-weight:bold;
    text-transform: uppercase;
    position:relative;
}

.left-j>hr
{
    position: absolute;
    width: 10.5rem;
    border: 2px solid var(--orange);
    border-radius: 20%;
    margin:-10px 0;
}


.right-j
{
    display: flex;
    justify-content: center;
    align-items: flex-end;
}


.email-container
{
    display: flex;
    gap:3rem;
    padding: 1rem 2rem;
    background-color:grey;
}

.email-container>input
{
    background-color: transparent;
    border:none;
    outline:none;
    color: var(--lightgray);
}

::placeholder
{
    color: var(--lightgray);
}

.btn-j
{
    background-color: var(--orange);
    color: white;
}

.btn-j:hover
{
   background-color: rgb(107, 71, 8);
}


@media screen and (max-width:768px)
{
    .Join
    {
        flex-direction: column;
        gap: 1rem;
    }
    .left-j
    {
        font-size: x-large;
        flex-direction: flex;
    }

    .right-j
    {
        padding: 2rem;
    }
    
    .email-container
    {
        gap: 0;
        padding: 0.5rem 1rem;
    }

    .btn-j
    {
        width: 4.5rem;
        height: 2.3rem;
        font-size:0.8rem;
    }

    .email-container>input
    {
        font-size:0.9rem;
    }
}

